/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches');

/* Globals */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --backgroundColorDark: #262626;
  --backgroundColorLight: #F5F5F5;
  --textColorDark:#262626;
  --textColorLight: #FBFBFB;
  --accentColor: #F2BF18;
  --accentColor2: #E1BF38; /* FBB723 a MUCH brigther but also beautiful */
  --shadowColor: #442D43;
  --shadowColor2: #AE942B;
  --shadowColorDark: #363636;
  --highlightColor: ;
  --highlightColor2: #FAD53E;
}

body {
  color: #fff;
  background-color: #333;
  margin: 0;
  padding: 0;
  font: calc(0.5rem + 1vmax)/113% 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

h1 {
  font: 3em/113% 'Staatliches', cursive;
}

.flex-container {
  display:flex;
}
a {
  text-decoration: none;
  color:inherit;
}

.button {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;

  color: inherit;
}

.triangle {
  display:inline;
  float: left;
  border-color: transparent var(--accentColor);
  border-style: solid;
  border-width: 1em 0 1em 1em;
  height: 0px;
  width: 0px;
  padding: 0;
  margin: -10px;

  position: relative;
  z-index: 1;
  transform: scale(10) rotate(-135deg);
}
/* ------------------ Content ------------------ */
#landing-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  align-content: stretch;

  background: url(https://source.unsplash.com/featured/?dark,color) no-repeat center;
  background-size: cover;
}

.landing-sidepanel {
  flex: 1 1 30%;
  position: relative;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1rem;
  box-sizing: border-box;
  z-index: 2;

  border-right: 2px #333 solid;

  background: rgba(50,50,50,0.8);
}
.picture {
  flex: 0 0 12vmax;
  width:12vmax;
  height:12vmax;
  margin: 4vh 0 0 0;

  background: #000 url(https://source.unsplash.com/EdA845C1yXc) 45% 30%/250% no-repeat padding-box border-box;

  border-radius: 50%;

  transform: scaleX(-1);
}
.description {
  margin: 0.5rem 0.8em;
}
#logo {
  flex: 1 1;
  width: 5.5em;
  height: 5.5em;
  padding: 1px;
  margin: 0.5rem;
}
.social-blocks {
  flex: 1 1 90%;
  min-height: 4em;
  /*max-height: 5em; /**/
  /*width: 100%; /**/
  margin: 1px 1rem;
  align-content: center;
  justify-content: space-around;
}
.social-blocks > * {
  text-align: center;
  flex: 0 0 20%;
  margin: 0;
  font-size: 0.75em;
}
.social-blocks a {
  color: inherit;
  margin: 0.5rem 0.5rem;
}
.social-blocks span {
  font-size: 3em;
}
.social-blocks p {
  margin: 0.5em 0 0 0;
}
.resume {
  border: 1px #222 solid;
  background: rgba(10,10,10,0.2);
}


.landing-showcase {
  flex: 2 1 60%;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  box-sizing: border-box;

  background: rgba(10,10,10,0.3);

  padding: 1rem;
}
.showcase-text-container {
  min-height: 20vh;
  height: auto;
  flex: 1 1 100%;
  padding: 1em 0;
  margin: 4vh 0 0 0;
}
.landing-showcase p, .landing-showcase h1 {
  margin-top: 0;
  padding: 0.8rem 0.8rem;
  background: rgba(20,20,20,0.5);
  border: 2px #333 solid;
}

.container-calltoaction {
  flex: 1 1;
  width: 100%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.button-calltoaction {
  /*display: inline-block;*/
  min-width: 7em;
  height: auto;
  margin: 0;
  box-sizing: border-box;

  border: 1px var(--accentColor) solid;
  color: var(--accentColor);
  background: rgba(20,20,20,0.6);

  font-size: 1.5em;
  font-weight: 600;

  transition: color 0.25s, font-weight 0.25s, background-color 0.5s;
}
.button-calltoaction:hover {
  background-color: var(--accentColor);
  color: #000;
  border: 1px var(--accentColor) solid;
  box-shadow: 0 1px 14px -3px #000;

  font-weight: 800;
}

/* ------------------ Media Queries ------------------ */
@media only screen and (max-width: 768px) and not (orientation: landscape), (orientation: portrait) {
  h1  {
    font-size: 2em; line-height: 113%; margin-top: 0;
  }
  #landing-page {
    flex-flow: column;
  }

  .landing-sidepanel {
    flex: 1 1 55%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  .landing-showcase {
    flex: 1 1 45%;
  }

  .picture {
    order: 2;
    flex: 0 0 12vmax;
    margin: 0;
  }
  #logo {
    order: 1;
    flex: 1 1 30%;
    margin: -0.2em 0;
  }
  .description {
    order: 4;
    margin: 0.1em 1em;
  }
  .description > p {
    margin: 0.5em 0;
  }
  .social-blocks {
    order: 5;
    font-size: 0.8em;
  }
  .resume {
    order: 3;
    flex: 1 1 20%;
    max-width: 30%;
    margin: 0 1em;
    border: 1px #333 solid;
    background: rgba(20,20,20,0.6);

    font-size: 1.25em;
  }

  .showcase-text-container {
    margin: 0 0 1em 0;
    padding: 0;
  }
  .showcase-text-container p{
    margin: 0.5em 0;
  }

  .container-calltoaction {
    flex: 1 1;
    min-width: 5em;
    min-height: 10px;
  }

  .triangle {
    display: hidden;
  }

  * {
    overflow: hidden;
  }


}

@media only screen and (max-height: 44em){
  .triangle {
      border-color: transparent blue;
  }
}

/*@media only screen and (min-aspect-ratio: 5/3)  {
  #logo {
    display: none;
  }
}*/
