/* ------------------ stylesheet for landing page ------------------ */
/* NOTE:
  Page designed as mobile portrait first
  Responsive design
  Query-less objective (em heavy)
*/

/* TODO:
  fix stretching on top elements on mobile
  fix things not fitting in one page
*/

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches'); /* Fonts */

/* Global styling */
:root{ /* Variables */
  --backgroundColorDark: #333;
  --backgroundColorLight: #F5F5F5;
  --textColorDark:#000;
  --textColorLight: #fff;
  --accentColor1: #F2BF18;
  --accentColor2: #E1BF38;
  --shadowColor: #442D43;
  --shadowColor: #AE942B;
  --highlightColor2: #FAD53E;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;

  color: var(--textColorLight);
  background-color: var(--backgroundColorDark);

  font: calc(0.5rem + 1.2vw + 0.3vh)/115% 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

h6 { /* FIXME: Temporary test to make a popup with js */
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Global classes */
.container-flex {
  display: flex;
}

.container-grid {
  display: grid;
}

.clickable {
  color: inherit;

  text-decoration: none;
}

.button {
  color: inherit;

  font-weight: 600;
  text-decoration: none;
}

/* ------------------ Content specific styles ------------------ */
.wrapper-page { /* Used to limit page to window size */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;

  background: url(https://source.unsplash.com/featured/?dark,color) no-repeat center;
  background-size: cover;
}

.wrapper-page > .container-flex { /* Creates the division between sections */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.sidepanel-landing {  /* Contains information and links */
  flex: 3 1 50%;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;

  border-bottom: 2px var(--backgroundColorDark) solid;
  background: rgba(50,50,50,0.8);

  grid-template-areas:
    'logo picture resume'
    'description description description'
    'social social social';
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.sidepanel-landing > * { /* FIXME: temporary hack */
  padding: 0.6rem;
  margin: 0.2rem;

  text-align: center;
}
.sidepanel-landing .logo {
  grid-area: logo;
  padding: 0;
}
#logo {
  height: 5em; width: 5em;
}
.sidepanel-landing .picture {
  grid-area: picture;
  justify-self: center;

  width: 5em;
  height: 5em;

  background: green;
}
.sidepanel-landing .button-resume {
  grid-area: resume;
  justify-self: center;
  width: 5em;

  border: 1px var(--backgroundColorLight) solid;
  transition: color 0.18s, font-weight 0.18s, background-color 0.36s;
}
.button-resume:hover, .button-resume:active{
  background: var(--backgroundColorLight);
  color: var(--textColorDark);
  box-shadow: 0 1px 10px -3px var(--textColorDark);

  font-weight: 800;
}
.sidepanel-landing .description {
  grid-area: description;
  padding: 0 1rem;

  text-align: left;
}
.sidepanel-landing .container-social-blocks {
  grid-area: social;
  padding: 0 0.6rem;

  flex-flow: row;
  justify-content: space-around;

  font-size: 1em;
}
.container-social-blocks a {
  padding: 0.6rem 0.6rem;
  transition: color 0.05s, background-color 0.1s, box-shadow 0.1s;
}
.container-social-blocks a:hover, .container-social-blocks a:active {
  background-color: rgba(0,0,0,0.3);
  color: var(--textColorLight);
  box-shadow: 0 1px 10px -3px var(--textColorDark) inset;
}
.container-social-blocks span {
  font-size: 2em;
}
.container-social-blocks p {
  margin: 0.5rem 0 0 0;
}

.showcase-landing {
  flex: 3 1 50%;
  padding: 0.5rem;

  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;

  text-align: center;

  background: rgba(10,10,10,0.3);
}
.showcase-landing > * { /* FIXME: temporary hack */
  margin: 0 0.2rem 1rem 0.2rem;
}
.showcase-landing .showcase-text {
  padding: 0;
  margin-top: 1vh;

  text-align: left;
}
.showcase-text p, .showcase-text h1, .showcase-landing .button-calltoaction {
  background: rgba(0,0,0,0.3);

  line-height: 115%;
  margin: 0;
}
.showcase-text h1 {
  margin: 0 0 1rem 0;
  padding: 0.6rem;
  border: 2px var(--backgroundColorDark) solid;

  text-align: center;
} em { font-style: normal; color: var(--accentColor1);}
.showcase-text p {
  padding: 0.6rem;
  border: 2px var(--backgroundColorDark) solid;
}

.button-calltoaction {
  padding: 1em;

  border: 1px var(--accentColor1) solid;
  color: var(--accentColor1);
  background: rgba(20,20,20,0.6);

  font-size: 1.2em;
  font-weight: 800;

  transition: color 0.18s, font-weight 0.18s, background-color 0.36s;
}
.button-calltoaction:hover, .button-calltoaction:active {
  background-color: var(--accentColor1);
  color: var(--textColorDark);
  border: 1px var(--accentColor1) solid;
  box-shadow: 0 1px 10px -3px var(--textColorDark);

  font-weight: 800;
}

#copyright {
  position: absolute;
  right: 0; bottom: 0;
  margin: 1rem;
  color: white;
  font-size: 0.66em;
  white-space: pre;
  z-index: 99;
}
/* Internal popups */
#pop-in {
  display: block;
  width: 80%; height: 40%;
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: calc(50vh - 20%); left: calc(50vw - 40%);

  background: rgba(70,70,70,0.9);
  border: 2px var(--backgroundColorDark) solid;

  font-size: 1.3em;
  line-height: 115%;
  text-align: center;
}
#pop-test-del > * {
  margin: 1rem 0;
}
.hidden {
  transform: scale(0,0);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.pop {
  transform: scale(1,1);
  opacity: 1;
  transition: transform 0.2s ease-out 0.1s, opacity 0.2s ease-out;
}
.copy-button {
  border: 1px white dashed;
}

/* ------------------ REMOVE FOR LIVE BUILDS ------------------ */
#bleededge-container{
  display: block;
  position: fixed;
  top: 25%; left: 10%;
  width: 80%; height: auto; min-height: 20%;
  padding: 2rem;


  border: 3px black solid;

  animation: 3.25s ease-out 0s 1 onloadpop;

}
@keyframes onloadpop {
  0% {transform: scale(0,0);}
  90% {transform: scale(0,0);}
  100% {transform: scale(1,1);}
}
#bleededge-container > p, #bleededge-container > h1 {
  position: relative;
  z-index: 99;
}
#bleededge-container > h1 {
  font-size: 2.5em; line-height: 115%; font-family: "Staatliches", cursive;
  font-weight: 400; text-align: center;
  margin: 0 0 1rem 0;
}
#bleededge-container > p {
  font-size: 1.25em; line-height: 115%;
  font-weight: 400;
}
.bleededge-container-image {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: var(--backgroundColorDark) url(../images/background_pattern.png) left top/cover repeat;
  z-index: 98;
  opacity: 0.99;
}
/* ------------------ Media Queries ------------------ */
/* Landscape phones */
@media only screen and (max-width: 60em) and (orientation: landscape) {
  .showcase-landing {
    min-height: 100vh;
  }
}

/* Short(height) phones in portrait */
@media only screen and (max-width: 60em) and (max-height: 39em) and (orientation: portrait) {
  .showcase-landing .showcase-text {
    padding: 0;
    margin-top: 0;
  }
}

/* VERY short(height) phones in portrait */
@media only screen and (max-width: 60em) and (max-height: 37.5em) and (orientation: portrait) {
  .sidepanel-landing {
    padding: 0 0.5rem;
  }
  .sidepanel-landing > * {
    margin: 0 0.2rem;

  }
  .showcase-landing .showcase-text {
    padding: 0;
    margin: 0 0.2rem 0.5rem 0.2rem;
  }
  .showcase-text h1 {
    margin: 0 0 0.5rem 0;
  }
}

/* Tall(height) phones in portrait */
@media only screen and (max-width: 60em) and (min-height: 45em) and (orientation: portrait) {
  .showcase-landing {
    flex: 3 1 40%;

    align-content: center;
  }
  .showcase-landing .showcase-text {
    padding: 0;
    margin-top: 0;
  }
}

/* PC and big tablets */
@media only screen and (min-width: 60em) {
  body {
    font-size: calc(0.6rem + 1.3vh + 0.1vw);
  }
  .wrapper-page > .container-flex {
    flex-flow: row nowrap;
  }
  .sidepanel-landing {
    flex: 1 1 30%;
    align-content: space-around;

    border-bottom: none;
    border-right: 2px var(--backgroundColorDark) solid;

    grid-template-areas:
      '. picture .'
      'description description description'
      'social social social'
      'logo . resume'
  }
  .sidepanel-landing .container-social-blocks {
    flex-flow: row wrap;
  }
  .sidepanel-landing .container-social-blocks > * {
    flex: 1 0 21%;
  }
  .sidepanel-landing .container-social-blocks p {
    font-size: 0.7em;
  }

  .showcase-text {
    margin-top: 5rem;
  }
  .button-calltoaction {
    padding: 0.6em;
  }
}
